<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Whitebricks | Home </title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="District Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
	/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!--css-->
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/prettyPhoto.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.desoslide.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/flexslider.css' %}">

	<!--css-->

	<!--js-->
	<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>

	<script src="{% static 'js/bootstrap.js' %}"></script>

	<script src="{% static 'js/district.js' %}"></script>

	<script src="{% static 'js/easing.js' %}"></script>

	<script src="{% static 'js/jquery.countup.js' %}"></script>

	<script src="{% static 'js/jquery.desoslide.js' %}"></script>

	<script src="{% static 'js/jquery.flexslider.js' %}"></script>

	<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>

	<script src="{% static 'js/jquery.quicksand.js' %}"></script>

	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>

	<script src="{% static 'js/jquery-1.7.2.js' %}"></script>


	<script src="{% static 'js/move-top.js' %}"></script>

	<script src="{% static 'js/script.js' %}"></script>

	<script src="{% static 'js/SmoothScroll.min.js' %}"></script>




	<!--js-->

	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
	    rel="stylesheet">
	<!-- //Web-Fonts -->
</head>

<body>

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

	<!-- banner -->
	<div class="bannerbg-w3l">
		<!-- header -->
		<header>
			<div class="header_topw3layouts_bar">
				<div class="container">
					<!-- header-top -->
					<div class="row border-bottom py-lg-4 py-3">
						<div class="col-xl-7 col-lg-6 header_agileits_left">
							<ul>
								<li class="mr-3">
									<i class="fas fa-phone mr-2"></i> +(010) 221 918 811</li>
								<li>
									<i class="fas fa-envelope mr-2"></i>
									<a href="mailto:whitebricksincpvtltd@gmail.com">send us a mail</a>
								</li>
							</ul>
						</div>
						<div class="col-xl-5 col-lg-6 header_right text-center mt-lg-0 mt-2">
							<div class="row">
								<!-- social icons -->
								<div class="col-4 w3social-icons">
									<ul>
										<li>
											<a href="#" class="rounded-circle">
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li class="px-2">
											<a href="#" class="rounded-circle">
												<i class="fab fa-google-plus-g"></i>
											</a>
										</li>
										<li>
											<a href="#" class="rounded-circle">
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li class="pl-2">
											<a href="#" class="rounded-circle">
												<i class="fab fa-dribbble"></i>
											</a>
										</li>
									</ul>
								</div>
								<!-- //social icons -->
								{% if user.is_authenticated %}
								<div class="col-4 header-loginw3ls text-lg-right text-center">
									<a href="/whitebricks/logout" class="log">
										<i class="fas fa-user mr-2"></i> Logout</a>
								</div>
								{% else %}

								<div class="col-4 header-loginw3ls text-lg-right text-center">
									<a href="#" class="log" data-toggle="modal" data-target="#exampleModalCenter1">
										<i class="fas fa-user mr-2"></i> Login</a>
								</div>
								{% endif %}
								<div class="col-4 header-loginw3ls">
									<a href="#" class="log" data-toggle="modal" data-target="#exampleModalCenter2">
										<i class="fas fa-key mr-2"></i> Register</a>
								</div>
							</div>
						</div>
					</div>
					<!--// header-top -->

					<!-- navigation -->
					<nav class="navbar navbar-expand-lg navbar-light bg-light">
						<a class="navbar-brand" href="{% url 'index' %}">Whitebricks
							<span>Paying Guest</span>
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						    aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item active">
									<a class="nav-link" href="{% url 'index' %}">Home
										<span class="sr-only">(current)</span>
									</a>
								</li>
								{% if user.is_authenticated %}
								<li class="nav-item mx-xl-4 mx-lg-3 my-lg-0 my-3">
									<a class="nav-link" href="yourads">Your ads</a>
								</li>
								{% else %}
								<li class="nav-item mx-xl-4 mx-lg-3 my-lg-0 my-3">
									<a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalCenter1">Your ads</a>
								</li>
								{% endif %}
								<li class="nav-item mx-xl-4 mx-lg-3 my-lg-0 my-3">
									<a class="nav-link" href="adspace">Find PG</a>
								</li>
								{% if user.is_authenticated %}

								<li class="nav-item mx-xl-4 mx-lg-3 my-lg-0 my-3">
									<a class="nav-link" href="insert-PG">Post ads</a>
								</li>
								{% else %}
								<li class="nav-item mx-xl-4 mx-lg-3 my-lg-0 my-3">
									<a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalCenter1">Post ads</a>
								</li>
								{% endif %}


								<li class="nav-item">
									<a class="nav-link" href="about">About Us</a>
								</li>
							</ul>
						</div>
					</nav>
					<!-- //navigation -->
				</div>
			</div>
		</header>
		<!-- //header -->
		<!-- banner text -->
		<div class="banner-text-agile">
			<div class="container">
				<div class="banner-w3lstexts text-white text-center">
					<h1>Perfect Home</h1>
					<h4 class="text-uppercase mt-md-3 mt-2 mb-md-4 mb-3">for your stay</h4>
					<p class="text-white">choose from thousands of rooms available in different cities</p>
					<a href="about" class="banner-button btn mt-md-5 mt-4">Know More</a>
				</div>
			</div>
		</div>
		<!-- //banner text -->
	</div>

	<!-- login -->
	<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="login px-4 mx-auto mw-100">
						<h5 class="text-center mb-4">Login Now</h5>
						<form action="/whitebricks/login" method="post">
                        {%csrf_token%}
							<div class="form-group">
								<label>Username</label>
                                	{{form.username}}

							</div>
							<div class="form-group">
								<label class="mb-2">Password</label>
                                	{{form.password}}

							</div>
							<button type="submit" class="btn btn-primary submit mb-4" value="Signup">Login</button>
							<p class="text-center pb-4">
								<a href="#">Forgot your password?</a>
							</p>
							<p class="text-center pb-4">
								Don't have an account?
								<a href="#" data-toggle="modal" data-target="#exampleModalCenter2">Create one now</a>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //login -->
	<!-- register -->
	<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="login px-4 mx-auto mw-100">
						<h5 class="text-center mb-4">Register Now</h5>
						<form action="/whitebricks/signup" method="post">
                        {%csrf_token%}
							<div class="form-group">
								<label>User Name</label>

									{{form.username}}

							</div>
							<div class="form-group">
								<label class="mb-2">Email</label>
									{{form.email}}

							</div>
							<div class="form-group">
								<label>Password</label>
									{{form.password}}

							</div>

							<div class="form-group">
								<label>Confirm Password</label>
								{{form.password}}
							</div>

							<button type="submit" class="btn btn-primary submit mb-4" value="Signup">Register</button>
							<p class="text-center pb-4">
								<a href="#">By clicking Register, I agree to your terms</a>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--//register-->
	<!-- //banner -->

	<!-- banner-bottom -->
	<div class="serach-w3agile py-5">
		<div class="container py-xl-4 py-lg-3">
			<h3 class="title-w3ls mb-md-5 mb-4 font-weight-bold text-center">Find Your Home</h3>
			<div class="place-grids">
				<form action="/whitebricks/adspace" method="GET" value="{{request.GET.q}}">
				Search
					<select name="q">
 						 <option value="trivandrum">Thiruvananthapuram</option>
						 <option value="kochi">Ernakulam</option>
						 <option value="kottayam">Kottayam</option>
 						 <option value="kollam">Kollam</option>
					</select>
				<input type="submit" name="submit" value="Search"/>
				</form>
			</div>
		</div>
	</div>
	<!-- //banner-bottom -->

	<!-- middle section -->
	<div class="middle-w3l">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 col-md-4 button">

				</div>
				<div class="col-lg-6 col-md-8 left-build-wthree py-5 px-sm-5 px-4">
					<div class="py-xl-5 py-lg-3 px-xl-4">
						<h4>Find rooms near your workplace</h4>

						<p>We recogonise the priorities of our customers to finding paying guests availabilities near different it parks.</p>
						<ul class="list-beach mt-lg-5 mt-4">
							<li>
								<div class="row">
									<div class="col-1 text-center">
										<i class="fas fa-hand-point-right"></i>
									</div>
									<div class="col-10">
										<p>Find afordable room sharing preferances.</p>
									</div>
								</div>
							</li>
							<li class="my-3">
								<div class="row">
									<div class="col-1 text-center">
										<i class="fas fa-hand-point-right"></i>
									</div>
									<div class="col-10">
										<p>Room rent is fixed, you dont have to worry aout hidden charges by owners.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-1 text-center">
										<i class="fas fa-hand-point-right"></i>
									</div>
									<div class="col-10">
										<p>If room does't suit you, you can always say no during your inspection .</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //middle section -->

	<!-- services -->
	<div class="what-w3ls py-5" id="services">
		<div class="container py-xl-5 py-lg-3">
			<div class="text-center mb-md-5 mb-4">
				<h3 class="tittle mb-sm-2">Why Us?</h3>

			</div>
			<div class="what-grids">
				<div class="row">
					<div class="col-md-6 what-grid1">
						<div class="row what-top">
							<div class="col-2 what-left">
								<i class="fas fa-key"></i>
							</div>
							<div class="col-10 what-right">
								<h4>Choose from over 15,757 properties</h4>
								<p class="mt-2">Now choose from 15,757+ properties</p>
							</div>
						</div>
						<div class="row what-top my-md-5 my-4">
							<div class="col-2 what-left">
								<i class="far fa-money-bill-alt"></i>
							</div>
							<div class="col-10 what-right">
								<h4>Easier on the Pocket</h4>
								<p class="mt-2">No commuting to multiple locations, no brokerage fee, no hidden costs
									because you deserve the best.</p>
							</div>
						</div>
						<div class="row what-top">
							<div class="col-2 what-left">
								<i class="fas fa-user-secret"></i>
							</div>
							<div class="col-10 what-right">
								<h4>Safety & Security</h4>
								<p class="mt-2">With round the clock security guards present, our properties are a safe haven for all our residents.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 what-grid1 my-md-0 my-4">
						<div class="row what-top">
							<div class="col-2 what-left">
								<i class="far fa-building"></i>
							</div>
							<div class="col-10 what-right">
								<h4>High speed internet</h4>
								<p class="mt-2">We make sure the pgs we provide have internet.</p>
							</div>
						</div>
						<div class="row what-top my-md-5 my-4">
							<div class="col-2 what-left">
								<i class="fas fa-clipboard-list"></i>
							</div>
							<div class="col-10 what-right">
								<h4>Regular cleaning</h4>
								<p class="mt-2">You don't have to worry anything about cleaning because it is assured that
									pgs come with regular cleaning.</p>
							</div>
						</div>
						<div class="row what-top">
							<div class="col-2 what-left">
								<i class="fas fa-wrench"></i>
							</div>
							<div class="col-10 what-right">
								<h4>Washing Clothes</h4>
								<p class="mt-2">We assure you that you will have some space for washing and drying clothes.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //services -->




	<!-- testimonials -->
	<div class="testimonials py-5" id="clients">
		<div class="container py-xl-5 py-lg-3">
			<div class="text-center mb-lg-5 mb-4">
				<h3 class="tittle mb-2 text-white">What Users Say</h3>
				<p class="test-title-paara">A few word about by our amigos </p>
			</div>
			<div class="w3_testimonials_grids">
				<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="w3_testimonials_grid">
									<p>"A big shout to Whitebricks for making the hostel hunt so easy
                    and comfortable. I was able to see all the details of
                    all the hostels available at Ameerpet in one-go. I
                    recommend whitebricks to everyone who is looking to find the
                    best hostels in Hyderabad.".</p>
									<ul class="testi-w3ls-rate mt-4">
										<li>
											<i class="fas fa-star"></i>
										</li>
										<li class="mx-2">
											<i class="fas fa-star"></i>
										</li>
										<li>
											<i class="fas fa-star"></i>
										</li>
										<li class="mx-2">
											<i class="fas fa-star"></i>
										</li>
										<li>
											<i class="fas fa-star"></i>
										</li>
									</ul>
									<div class="row person-w3ls-testi mt-5">
										<div class="col-6 agile-left-test text-right">
											<img src="{% static 'images/te1.jpg' %}" alt="not found" class="img-fluid rounded-circle" />
										</div>
										<div class="col-6 agile-right-test text-left mt-4">
											<h5>Sam Alex</h5>
											<p>Software Engineer</p>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="w3_testimonials_grid">
									<p>"Thank you so much Whitebricks, you just made my life a little
                    easier. I was able to find very spacious and
                    well-maintained service apartment at a very affordable
                    price using your service. Have to admit Whitebricks is the
                    best accommodation finding app in the market.".</p>
									<ul class="testi-w3ls-rate mt-4">
										<li>
											<i class="fas fa-star"></i>
										</li>
										<li class="mx-2">
											<i class="fas fa-star"></i>
										</li>
										<li>
											<i class="fas fa-star"></i>
										</li>
										<li class="mx-2">
											<i class="fas fa-star"></i>
										</li>
										<li>
											<i class="fas fa-star"></i>
										</li>
									</ul>
									<div class="row person-w3ls-testi mt-5">
										<div class="col-6 agile-left-test text-right">
											<img src="{% static 'images/te2.jpg' %}" alt="not found" class="img-fluid rounded-circle" />
										</div>
										<div class="col-6 agile-right-test text-left mt-4">
											<h5>Anjali Menon</h5>
											<p>HR manager</p>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="w3_testimonials_grid">
									<p>"Coming straight from the most populous state of the country, UP, I felt relieved in Hyderabad with so less crowd. However, I was struggling to find good quality hostels as there were so many like me looking for the same.
										Thanks to the PGO app, which gave me so many options to choose from. Clearly, the best app for finding the best hostels in Trivandrum.".</p>
									<ul class="testi-w3ls-rate mt-4">
										<li>
											<i class="fas fa-star"></i>
										</li>
										<li class="mx-2">
											<i class="fas fa-star"></i>
										</li>
										<li>
											<i class="fas fa-star"></i>
										</li>
										<li class="mx-2">
											<i class="fas fa-star"></i>
										</li>
										<li>
											<i class="fas fa-star"></i>
										</li>
									</ul>
									<div class="row person-w3ls-testi mt-5">
										<div class="col-6 agile-left-test text-right">
											<img src="{% static 'images/te3.jpg' %}" alt="not found" class="img-fluid rounded-circle" />
										</div>
										<div class="col-6 agile-right-test text-left mt-4">
											<h5>Rahul Chandrababu</h5>
											<p>Software Developer</p>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</section>

			</div>
		</div>
	</div>
	<!-- //testimonials -->

	<!-- footer top -->
	<div class="footer-top py-5 text-center">
		<div class="container py-xl-5 py-lg-3">
			<h2 class="text-white mb-4">Select Your Dream Property</h2>
			<h5 class="text-white mb-sm-5 mb-4 pb-sm-5 pb-4">Contact Us</h5>
			<i class="fas fa-map-marker-alt"></i>
		</div>
	</div>
	<!-- //footer top -->

	<!-- footer -->
	<div class="footer py-5 text-center">
		<div class="container py-xl-5 py-lg-3">
			<div class="address row mb-4">
				<div class="col-lg-4 address-grid">
					<div class="row address-info">
						<div class="col-md-3 address-left text-center">
							<i class="far fa-envelope"></i>
						</div>
						<div class="col-md-9 address-right text-left">
							<h6 class="ad-info text-uppercase mb-2">Email</h6>
							<p>
								<a href="mailto:whitebricksincpvtltd@gmail.com">whitebricksincpvtltd@gmail.com</a>
							</p>

						</div>

					</div>
				</div>
				<div class="col-lg-4 address-grid my-lg-0 my-4">
					<div class="row address-info">
						<div class="col-md-3 address-left text-center">
							<i class="fas fa-mobile-alt"></i>
						</div>
						<div class="col-md-9 address-right text-left">
							<h6 class="ad-info text-uppercase mb-2">call us</h6>
							<p>+1 234 567 8901</p>
							<p>+1 567 567 9876</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 address-grid">
					<div class="row address-info">
						<div class="col-md-3 address-left text-center">
							<i class="far fa-map"></i>
						</div>
						<div class="col-md-9 address-right text-left">
							<h6 class="ad-info text-uppercase mb-2">Address</h6>
							<p> 786 Main Road, hollies</p>
							<p> California, USA</p>
						</div>
					</div>
				</div>
			</div>
			<!-- social icons footer -->
			<div class="w3social-icons-footer text-center pt-sm-5 pt-3">
				<ul>
					<li>
						<a href="#" class="rounded-circle">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					<li class="px-2">
						<a href="#" class="rounded-circle">
							<i class="fab fa-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a href="#" class="rounded-circle">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li class="px-2">
						<a href="#" class="rounded-circle">
							<i class="fab fa-dribbble"></i>
						</a>
					</li>
					<li>
						<a href="#" class="rounded-circle">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</li>
					<li class="px-2">
						<a href="#" class="rounded-circle">
							<i class="fab fa-behance"></i>
						</a>
					</li>
					<li class="">
						<a href="#" class="rounded-circle">
							<i class="fab fa-vimeo-v"></i>
						</a>
					</li>
				</ul>
			</div>
			<!-- //social icons footer -->
		</div>
	</div>
	<!-- footer -->

	<!-- copyright -->
	<div class="copy_right py-4 text-center">
		<p class="text-white">© 2018 Whitebricks. All rights reserved 	</p>
	</div>
	<!-- //copyright -->


	<script>
		$(window).load(function () {
			$('.flexslider').flexslider({
				animation: "slide",
				start: function (slider) {
					$('body').removeClass('loading');
				}
			});
		});
	</script>
	<!-- //flexSlider (for testimonials) -->

	<script>
		$('.counter').countUp();
	</script>
	<!-- //stats -->

	<!-- password-script -->
	<script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->



</body>

</html>